<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous">
    <title><%= playTitle %></title>

  <body>
    <div class="container-fluid">
      <img src="<%= imgSrc %>" class="img-fluid">
      <h2><%= playTitle %></h2>
      <br>
      <%- playText %>
      <br>
      <a href="<%= playUrl %>">Першоджерело</a>
    </div>
  </body>
</html>
