<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:700&amp;subset=cyrillic-ext" rel="stylesheet">
  <title>
    <%- title %>
  </title>

<body>
  <div class="container-fluid">
      <iframe src="https://webchat.botframework.com/embed/<%- webChatId %>?s=<%- webChatKey %>"
        style='min-width: 300px; width: 70%; min-height: 700px;'></iframe>
        <br>
        <div style="font-family: 'Roboto Condensed', sans-serif;">
          <br>
          <div style="font-size: 20px;">
            Також доступний на:
          </div>
          <div style="font-size: 40px;">
            <a href="<%- telegramBotUrl %>">Telegram</a> | <a href="<%- fbBotUrl %>">Facebook</a> | <a href="<%- skypeBotUrl %>">Skype</a>
          </div>
          <br>
          <div style="font-size: 20px;">
            <a href="<%- lpFbPage %>" target="_blank">Офіційна Facebook-сторінка</a> Л.Подерв’янського
            <br>
            Розробка: <a href="<%- myPage %>" target="_blank">Iurii Dziuban</a>
          </div>
        </div>
  </div>
</body>

</html>